body{
    background-image: url("https://media.playstation.com/is/image/SCEA/street-fighter-v-listing-thumb-01-ps4-us-03dec14?$Icon$");
}
.card{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    height: 300px;
    width: 250px;
    box-shadow: 2px 2px 2px 2px;
    padding: 10px;
    background-size: cover;
    margin: 20px;

    transition: transform 450ms;
}

.card:hover{
    box-shadow: 2px 2px 2px 2px red;
    transform: scale(1.08);
}

#allStreetfighter{
    display: flex;
    flex-wrap: wrap;
}

.streetfighterButtonsContainer{
    display: flex;
    justify-content: space-around;
}

.streetfighterButtonsContainer > button{
    margin: 3px;
}

.delStreetfighter{
    height: 30px;
}

.button{
    min-width: 30px;
}

#singleView{
    position: fixed;
    top: 20%;
    left: 20%;

    display: none;
    align-items: center;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.767);
    width: 60%;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 10px black;
}

#singleView img{
    max-width: 500px;
}

#closeButton{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
}